.initialOption{
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 39%;
    flex-wrap: wrap;
    align-content: center;
    width: 23%;
    height: 9vh;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

h2{
    color: rgb(255, 255, 255);
}

.option{
    display: flex;
    padding-left: 10px;
    align-items: flex-start;

}
/* Single div */
.singleOption{
    display: flex;
    background-color:white;
    justify-content: center;
    width: 23%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 6vh;
    padding: 0px;
    margin-left: 39%;
}

.singleOption:hover{
    background-color: rgb(46,124,232);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px #8d8d8d;
}